* {
    margin:0;
    padding:0;
}

#root {
    width:100%;
    height:100vh;
    background-color: black;
    .main {
        display:flex;
        justify-content: center;
        width:100%;
        height:100vh;
    
        .text {
            display:flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            color: #FBECD6;
            font-size:75px;
        }
    }
}
