$mainColor : #FBECD6;
$fontFamilyOriginal : "Alex Brush", cursive;
$fontFamilyBasic : 'Open Sans';

* {
    margin: 0;
    padding:0;

}
#root {
width:100%;
height:100vh;
}

main {
    z-index:1;
    width:100%;
    height:100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section {
    width:100%;
    height:100%;
    display:flex;
    background-color: $mainColor;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-direction: column;

}

#accueil {
    display:flex;
    width:100%;
    height:100%;

    .page1__container {
        display:flex;
        width:100%;
        height:100%;
        flex-direction: column;
        justify-content: center;
        flex-grow:1;     
        

        .curvedText {
            width:100%;
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        .arrow {
            width:100%;
            display: flex;
            align-self: flex-end;
            justify-content: center;
            font-size: 30px;
            padding-bottom: 10px;
        }
        }
}

/********************************************************/
/********************************************************/
/**********************SECTION 2 ************************/
/********************************************************/
/********************************************************/

#presentation { 
    display:flex;
    width:100%;
    height:100vh;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(251,236,214,1) 0%, rgba(255,255,255,1) 50%, rgba(251,236,214,1) 100%);
    .page2__container {
        display:flex;
        width:100%;
        height:100vh;
        flex-direction: column;
        gap:20px;
                

        .page2__content {
        
            display:flex;
            width:100%;
            height:90vh;
            flex-direction: row;
        
                .page2__img {
                    width:50%;
                    height:100%;
                    display:flex;
                    flex-direction: column;
                    filter:sepia(80%);
                
                    #img1 {
                        display:flex;
                        width:50%;
                        height:45%;
                        align-self: center;
                        
                    }
                
                    #img2 {
                        width:50%;
                        height:50%;
                        padding-left: 50px;
                    }
                }
                .page2__text {
                    display:flex;
                    flex-direction: column;
                    height:auto;
                    width:40%;
                    font-size: 25px;
                    font-family: 'Open Sans';
                    align-self: center;
                    gap:20px;

                    .ma__presentation {
                        text-align: center;
                    }

                    .mes__competences {
                        display:flex;
                        flex-direction: column;
                        gap:20px;
                        
                        p {
                            text-decoration: underline;
                        }

                        ul {
                            display:flex;
                            flex-direction: row;
                            gap:30px;
                            list-style-type: none;
                            flex-wrap: wrap;

                            li {
                                background-color:#E6D8C4;
                                border-radius: 15px;
                                padding:5px 15px;
                            }
                        }
                    }
                    
                }
            }   
    }
    
}


/********************************************************/
/********************************************************/
/**********************SECTION 3 ************************/
/********************************************************/
/********************************************************/


#projets {
    background: linear-gradient(0deg, rgba(251,236,214,1) 0%, rgba(255,255,255,1) 50%, rgba(251,236,214,1) 100%);
    display:flex;
    width:100%;
    height:100vh;

    .page3__container{
        display:flex;
        width:100%;
        height:100vh;
        flex-direction: column;
        gap:40px;

        .page3__content{
            display:flex;
            width:80%;
            height:750px;
            align-self: center;
            gap:30px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 30px 30px;

            .card {
                position:relative;
                display:flex;
                height:40%;
                width:calc((90% - 70px)/2);
                border-radius: 10px;
                box-shadow: 5px 5px 15px 5px #E6D8C4;

                &::after {
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;                
                    position: absolute;
                    background: linear-gradient(0deg, rgba(250,250,250,0) 0%, rgba(0,0,0,0.21060924369747902) 66%, rgba(57,54,50,0.4150910364145658) 100%);
                    z-index:1 ;
                    border-radius: 10px;
                }

                img {
                    position:absolute;
                    width:100%;
                    height:100%;
                    object-fit: cover;
                    z-index: 1;                    
                    border-radius: 10px;
                }

                h2 {
                    margin:20px;
                    padding:5px 15px;
                    width:auto;
                    height:auto;
                    position:absolute;
                    z-index:2;
                    color:black;
                    font-family: $fontFamilyOriginal;
                    font-weight: 600;
                    font-size: 30px;
                    background: radial-gradient(circle, rgba(230,216,196,1) 0%, rgba(230,216,196,1) 100%);
                    border-radius: 15px;
                }

                #button {
                    position:absolute;
                    z-index:4;
                    left:50%;
                    bottom:-15px;
                    border-radius: 15px ;
                    background: radial-gradient(circle, #FBECD6 0%, #FBECD6 60%);
                    padding:8px 15px;
                    border: 2px solid #e6d8c4;
                    box-shadow: 5px 5px 15px 5px #E6D8C4;
                }
            }

            dialog {
                position:relative;
                display:flex;
                width:80%;
                height:70%;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                background-color: $mainColor;

                .modal__content {
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width:100%;
                    height:100%;
                    display:flex;
                    flex-direction: column;
                    gap: 20px;
                    
                    .modal__title {
                        display:flex;
                        flex-direction: column;

                        h1 {
                            display:flex;
                            align-self: center;
                            font-family: $fontFamilyOriginal;
                            font-weight: 600;
                            font-size: 35px;
                            padding: 20px 10px;
                            width:20%;
                            text-decoration: underline;

                        }                      
                    }

                    .modal__description {
                        display:flex;
                        width:90%;
                        flex-direction: column;
                        margin: 5px 10px;
                        gap:5px;

                        p {
                            display:flex;
                            align-self: center;
                            font-size: 19px;
                            justify-content: center;
                            text-align: justify;
                            margin-left: 30px;
                            margin-right: 15px;
                            line-height: 150%;
                        }
                    }

                    .modal__tags {
                        display:flex;
                        width:90%;
                        flex-direction: column;
                        margin: 5px 10px;
                        gap:5px;

                        ul {
                            display:flex;
                            font-size: 19px;
                            margin-left: 30px;
                            margin-right: 15px;
                            gap:15px;
                            list-style-type: none;
                            flex-wrap: wrap;

                            li {
                                background-color:#E6D8C4;
                                border-radius: 15px;
                                padding:5px 15px;
                            }
                        }

                    }

                    .modal__site {
                        display:flex;
                        margin: 5px 10px;
                        width:90%;
                        justify-content: center;

                        a {
                            display:flex;
                            padding: 10px 20px;
                            border: 1px solid #E6D8C4;
                            border-radius: 3px;
                            background-color:#2f2f2f;
                            color:$mainColor;
                            text-decoration: none;
                            align-self:center;
                            border-radius: 25px;
                            font-size: 20px;

                        }
                    }

                    .modal__pictures {
                        display:flex;
                        width:100%;
                        height:100%;
                        flex-wrap: wrap;
                        gap:20px;
                        justify-content: center;
                        padding:10px;
                        
                        .modal__pictures--img {
                            height:50%;
                            position: static;
                            width:calc((100% - 80px)/2);
                            box-shadow: 5px 5px 15px 5px #E6D8C4;
                            border-radius: 10px;
                            
                            
                        }
                    }

                    .modal__button {
                        display:flex;
                        align-self:center;
                        border-radius: 15px ;
                        background: radial-gradient(circle, #FBECD6 0%, #FBECD6 60%);
                        padding:8px 15px;
                        border: 2px solid #e6d8c4;
                        box-shadow: 5px 5px 15px 5px #E6D8C4;
                    }
                }
                .modal__h3 {
                    font-family: $fontFamilyOriginal;
                    font-weight: 600;
                    font-size: 28px;
                    text-decoration: underline;
                }
            }
        }
    }

}

/********************************************************/
/********************************************************/
/**********************SECTION 4 ************************/
/********************************************************/
/********************************************************/


#contact { 
    display:flex;
    width:100%;
    height:100vh;
    flex-direction: row;
    
    .page4__container {
        display:flex;
        width:100%;
        height:100vh;
        flex-direction: column;
        gap:30px;
        .page4__content {
            width:50%;
            height:70%;
            display:flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            margin-top: 30px;

            form {
                width:100%;
                height:100%;
                display:flex;
                justify-content: center;
                flex-direction: column;
                align-self: center;
                align-items: center;
                font-family: $fontFamilyBasic;
                
                h3 {
                    font-size: 28px;
                    font-weight: 500;
                }
                fieldset {
                    display:flex;
                    flex-direction: column;
                    width:98%;
                    height:100%;
                    background: linear-gradient(0deg, rgba(251,236,214,1) 0%, rgba(255,255,255,1) 50%, rgba(251,236,214,1) 100%);
    

                    legend {
                        font-size: 35px;
                        font-family: $fontFamilyOriginal;
                    }

                    label {
                        display:flex;
                        text-align: flex-end;
                        align-items: center;
                        flex-basis: 100px;
                        justify-content: center;

                    }

                    input {
                        width:270px;
                        height:30px;
                        margin:5px;
                    }
                }

                #message {
                    width:calc((200% - 80px)/2);
                    height:100%;
                    margin:15px;

                }
                
                .form_contact {
                    display:flex;
                    justify-content: center;
                    margin:15px;
                    width:80%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    height:150px;
                }

                .button__style1 {
                    display:flex;
                    align-self:center;
                    justify-content: center;
                    border-radius: 25px ;
                    background: radial-gradient(circle, #FBECD6 0%, #FBECD6 60%);
                    padding:8px 15px;
                    border: 2px solid #e6d8c4;
                    box-shadow: 5px 5px 15px 5px #E6D8C4;
                    width:80px;
                    height:40px;
                }
            }
        }
    }
}